.list_title {
  border-bottom: 2px solid gray;
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.batsu {
  font-size: 100%; /*ボタンの大きさ*/
  border-color: transparent;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconLock {
  margin-top: -2px;
  background-color: transparent;
  border: transparent;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.3rem;
  background: url(../../../../public/goalList/lock.jpg) no-repeat;
  background-size: 3rem 3rem;
}
.iconMoney {
  background-color: transparent;
  border: transparent;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.3rem;
  background: url(../../../../public/goalList/money.jpg) no-repeat;
  background-size: 3rem 3rem;
}
.iconMemo {
  background-color: transparent;
  border: transparent;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.3rem;
  background: url(../../../../public/goalList/writtingNote.jpg) no-repeat;
  background-size: 3rem 3rem;
}

.checkbox {
  margin-top: 0.8rem;
}

.editBar {
  width: 30%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
}

.listname {
  margin-left: 1rem;
}

.listname_finish {
  margin-left: 1rem;
  color: red;
  text-decoration: line-through;
}

.span {
  color: black;
}

.text {
  color: red;
  text-decoration: line-through;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
}
