.container {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;

}

.title {
  position: relative;
  padding: 3%;
}

.flashs {
  border: 2px solid gray;
  height: 60px;
  width: 90%;
  padding: 3%;
}
