.heart {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 5px;
  cursor: pointer;
}
.heart:before,
.heart:after {
  position: absolute;
  content: '';
  left: 7px;
  top: -7px;
  width: 12px;
  height: 19.2px;
  background: #f88dc8;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: -6px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.offHeart {
  cursor: pointer;
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 6px;
}
.offHeart:before,
.offHeart:after {
  position: absolute;
  content: '';
  left: 7px;
  top: -7px;
  width: 12px;
  height: 19.2px;
  background: #ada3a9;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.offHeart:after {
  left: -6px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.likesCount {
  position: relative;
  left: 3.5rem;
}
