.flex_container_column {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding-top: 5rem;
 width: 30%;
 margin: 0 auto;
}

.margin{
  margin-top: 3rem;
  margin-right: 2rem;
}

.flex_container{
  display: flex;
  margin: 0 auto;
}



.flex_container_item{
  margin-bottom: 2rem;
  height: 5rem;
  border-radius: 2rem;
}

.accountBtn {
  margin-bottom: 30px;
  height: 50%;
  font-size: 2rem;
  border-radius: 2rem;
  flex-basis: 4rem;
  background-color: skyblue;
  color: white;
  border: 2px solid skyblue;
}

.accountBtn:hover {
  color: skyblue;
  background: #fff;
  border: 2px solid skyblue;
}

@media (max-width: 500px) {
  .flex_container_column {
    width: 70%;
   }
}
