.grid_container {
  position: absolute;
  top: 0%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'areaA areaB'
    'areaC areaC';
  display: grid;
  place-items: center;
}

.item_A {
  grid-area: areaA;
  position: relative;
  left: 20%;
  font-size: 3rem;
}
.item_B {
  grid-area: areaB;
  position: relative;
  right: 50%;
}
.container {
  grid-area: areaC;
  position: relative;
  bottom: 10%;
  display: flex;
  flex-flow: column;
  width: 50%;
}

.item_C {
  margin-bottom: 30px;
  width: 100%;
  height: 45%;
  font-size: 2rem;
  border-radius: 1rem;
  flex-basis: 4rem;
}

.item_D {
  margin-bottom: 30px;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  border-radius: 1rem;
  flex-basis: 4rem;
}
.item_E {
  margin-bottom: 30px;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  border-radius: 1rem;
  flex-basis: 4rem;
}
.item_F {
  margin-bottom: 30px;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  border-radius: 1rem;
  flex-basis: 4rem;
}
.item_G {
  margin-bottom: 30px;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  border-radius: 2rem;
  flex-basis: 4rem;
  text-align: center;
  background-color: skyblue;
  color: white;
  border: 2px solid skyblue;
}

.item_G:hover {
  color: skyblue;
  background: #fff;
  border: 2px solid skyblue;
}

@media (max-width: 500px) {
  .grid_container {
    grid-template-rows: 0.5fr 1fr;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    display: grid;
    place-items: center;
  }

  .item_A {
    grid-area: areaA;
    position: relative;
    left: 0%;
    font-size: 2rem;
  }
  .item_B {
    grid-area: areaB;
    position: relative;
    right: 0%;
  }

  .container {
    position: relative;
    width: 120%;
    grid: areaC;
    display: flex;
    flex-flow: column;
  }

  .item_C {
    width: 100%;
    height: 45%;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .item_D {
    width: 100%;
    height: 50%;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .item_E {
    width: 100%;
    height: 50%;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .item_F {
    width: 100%;
    height: 50%;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .item_G {
    width: 100%;
    height: 50%;
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
    background-color: skyblue;
    color: white;
    border: 2px solid skyblue;
  }

  .item_G:hover {
    color: skyblue;
    background: #fff;
    border: 2px solid skyblue;
  }
}
