.grid_container {
  position: absolute;
  left: 20%;
  right: 30%;
  display: grid;
  grid-template-rows: 20rem 1fr;
  grid-template-columns: 100%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  grid-template-areas:
    'areaA'
    'areaB';
}

.title {
  text-align: center;
}

.searchForm {
  text-align: center;
}


.item_A {
  grid-area: areaA;
}

.item_B {
  grid-area: areaB;
}

.userBar {
  display: flex;
  padding: 2rem;
  width: 100%;
  border-top: 2px solid gray;
}

.triming {
  border-radius: 50%;
}

.name {
  margin-left: 3rem;
  margin-top: 2rem;
}
